@import url('bootstrap/css/bootstrap.min.css');

body {
    background: #000;
}

/**************** Navbar ************************/
.navbar {
     background: transparent;
     border-color: transparent;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
     color: #0ef;

}

/* Active page */
.navbar-inverse .nav .current_page_item a,
.navbar-inverse .nav .current_page_item a:hover,
.navbar-inverse .nav .current_page_item a:focus,
.navbar-inverse .nav .current_page_parent a,
.navbar-inverse .nav .current_page_parent a:hover,
.navbar-inverse .nav .current_page_parent a:focus {

  text-decoration: none;
  border-bottom: 1px #fff solid;
  padding-bottom: 1px;

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff; /*Change active text color here*/

}

/*******************************************************************/
/********************** Home Page ********************************/
/*****************************************************************/


/****************** Header *********************/

.header_text {
    color: white;
    opacity: 0;
    margin-top: 55px;

    -webkit-transition: margin-top .5s, opacity .5s;
       -moz-transition: margin-top .5s, opacity .5s;
        -ms-transition: margin-top .5s, opacity .5s;
         -o-transition: margin-top .5s, opacity .5s;
            transition: margin-top .5s, opacity .5s;

}

.header_text2{
    color: white;
    opacity: 0;
    margin-top: 55px;

     -webkit-transition: margin-top 1s, opacity 1s;
        -moz-transition: margin-top 1s, opacity 1s;
         -ms-transition: margin-top 1s, opacity 1s;
          -o-transition: margin-top 1s, opacity 1s;
             transition: margin-top 1s, opacity 1s;
             transition-delay: .5s;

}


/*************** Buttons *******************/
.btn {
    background-color: transparent;

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-width: thin;
    border-color: #fff;
    font-family: Georgia;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    opacity: 0;
    margin-top: 55px;

     -webkit-transition: margin-top 1.3s, opacity 1.3s;
        -moz-transition: margin-top 1.3s, opacity 1.3s;
         -ms-transition: margin-top 1.3s, opacity 1.3s;
          -o-transition: margin-top 1.3s, opacity 1.3s;
             transition: margin-top 1.3s, opacity 1.3s;
             transition-delay: 1s;

}

.btn:hover {
    background-color: rgba(230, 249, 255, .3);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}

.pause {
    position: fixed;
    bottom:   20px;
    left: 5vw;
  	background-color:transparent;
  	-moz-border-radius:19px;
  	-webkit-border-radius:19px;
  	border-radius:19px;
  	border:1px solid #fffaff;
  	display:inline-block;
  	cursor:pointer;
  	color:#fcfcfc;
  	font-family:Arial;
  	font-size:17px;
  	font-weight:bold;
  	padding:3px 14px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #944794;
    opacity: 0.5;

       -webkit-transition: opacity .1s;
          -moz-transition: opacity .1s;
           -ms-transition: opacity .1s;
            -o-transition: opacity .1s;
               transition: opacity .1s;

}
.pause:hover {
	 background-color:transparent;
   background-color: #B0B0B0;
   opacity: 1;

}

/************** On Load move text up *****************/

.upper {
    opacity:1;
    margin-top: 25px;
}

/*********************** Transitions **************************/
.parent_header_text {
    color: white;
    opacity: 0;
    margin-top: 25px;
}

.parent_btn {
  background-color: transparent;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-width: thin;
  border-color: #fff;
  font-family: Georgia;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  opacity: 0;
  margin-top: 25px;
}

.parent_btn:hover {
    background-color: rgba(230, 249, 255, .3);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}

/******************* Home page poster and video ************************/

video {
    background: transparent url('http://localhost/wordpress/wp-content/uploads/photo/Lens_Dad3blur.jpg') 50% 50% / cover no-repeat ;
}

.poster {
  position: fixed;

  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.poster img {
  position: absolute;
   top: 50%;
   left: 50%;
  width: 100%;
  min-width: 115%;
  min-height: 115%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fullscreen-bg {
   position: fixed;
   margin: 0;
   padding: 0;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   left: 0;
   overflow: hidden;
   z-index: -100;
}

.fullscreen-bg__video {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   min-width: 115%;
   min-height: 115%;
   -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}


@media (max-width: 767px) {
   .fullscreen-bg {
       background: url('http://localhost/wordpress/wp-content/uploads/photo/Lens_Dad3blur.jpg') center center / cover no-repeat;
   }

   .fullscreen-bg__video, .btn {
       display: none;
   }
   .navbar-toggle {
       color: #fff;
     }

   .navbar-collapse {
       background-color: rgba(230, 249, 255, .3);
   }

   .navbar-collapse li a {
      text-align: center;

   }
}

/***************** Video controls ****************************/

#seek-bar{
  position: fixed;
  bottom:   20px;

  margin-left: 10vw;
  width: 68%;

  opacity: 0.5;

     -webkit-transition: opacity .1s;
        -moz-transition: opacity .1s;
         -ms-transition: opacity .1s;
          -o-transition: opacity .1s;
             transition: opacity .1s;
}

#volume-bar{
  position: fixed;
  bottom:   20px;

  margin-left: 84vw;
  float:right;
  width: 10%;

  opacity: 0.5;

     -webkit-transition: opacity .1s;
        -moz-transition: opacity .1s;
         -ms-transition: opacity .1s;
          -o-transition: opacity .1s;
             transition: opacity .1s;
}

#mute{
  position: fixed;
  bottom:   20px;

  margin-top: -1%;
  margin-left: 80%;

  opacity: 0.5;

     -webkit-transition: opacity .1s;
        -moz-transition: opacity .1s;
         -ms-transition: opacity .1s;
          -o-transition: opacity .1s;
             transition: opacity .1s;
}

#seek-bar:hover, #volume-bar:hover, #mute:hover{
  opacity: 1;
}


/*******************************************************************/
/********************** About Page ********************************/
/*****************************************************************/


.about_background {


    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
.about_background img {

    filter:blur(5px);
    -webkit-filter: blur(5px);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 115%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

}

.about_text {
    color: #fff;
}

.feedback_text {
  opacity: 0;
  margin-top: 55px;

   -webkit-transition: margin-top 1.3s, opacity 1.3s;
      -moz-transition: margin-top 1.3s, opacity 1.3s;
       -ms-transition: margin-top 1.3s, opacity 1.3s;
        -o-transition: margin-top 1.3s, opacity 1.3s;
           transition: margin-top 1.3s, opacity 1.3s;
           transition-delay: 1s;
}


.upper_feedback {
    opacity: 1;
    margin-top: 25px; /** for sliding up effect using js **/
}

.feedback_icon {
   width: 5%
}

.feedback_text .well {

   background-color: rgba(000, 000, 000, 0.4);
}


.feedback_text .well p {

}


.feedback_text .well img {

    display: inline-block;
}
